{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    <script src="https://kit.fontawesome.com/18de66c05e.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <div class="login-form">
        
        <p style="text-align: center; font-size:20px; font-weight:bold;color:rgb(9, 83, 105);">Login</p>
        <br/>
        {% if messages %}
<div class="messages">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
        <form action="{% url 'blog:Login' %}" method="post">
            {% csrf_token %}
            <label for="email">Email:</label>
            <br/>
            <br/>
         <input type="email" name="email" id="email">
         <br/>
          <br/>
         <label for="password">Password</label>
         <br/>
         <input type="password" name="password" id="password">
         <br/>
           <a href="{% url 'blog:forgotpassword' %}"> <p style="float: right;">Forgot password?</p></a>
         <br/>
         <input type="submit" value="Login"> 
        </form>
        <a href="{% url 'blog:SignUp' %}"><p style="text-align:center;"> Or Sign Up</p></a>
     
    </div>
</body>
</html>